.menu-large {
  position: static !important;
}
/* https://www.codeply.com/go/Cd18yN4540/bootstrap-4-mega-menu-full-width */
ul.nav.navbar-nav {
  width: 100%;
  float: right;
  display: flex;
  justify-content: flex-end;
}
.megamenu {
  padding: 20px 20px;
  width: 100%;
}
ul.dropdown-menu.megamenu:after {
  content: "";
  background: #1a1e5de0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.megamenu > div > li > ul {
  padding: 0;
  margin: 0;
}

.megamenu > div > li > ul > li {
  list-style: none;
}

.megamenu > div > li > ul > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #333333;
  white-space: normal;
}

.megamenu > div > li > ul > li > a:hover,
.megamenu > div > li > ul > li > a:focus {
  text-decoration: none;
  color: #262626;
  background-color: #f5f5f5;
}

.megamenu.disabled > a,
.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  color: #999999;
}

.megamenu.disabled > a:hover,
.megamenu.disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  filter: progid: DXImageTransform.Microsoft.gradient(enabled=false);
  cursor: not-allowed;
}
ul.dropdown-menu a:hover{
  background-color:transparent !important;
}
.megamenu a h6 {
  margin-top: 15px !important;
}
ul.dropdown-menu a:hover {
  background: #1a1e5d;
  color: #fff !important;
}
li.nav-item:hover .dropdown-menu {
	display: block;
	height:100vh;
}
ul.dropdown-menu.megamenu .row{
	height:100vh;
}
.custom-header ul.dropdown-menu li a {
    padding: 15px 30px;
    display: block;
}
.drop-mega-menu.bg-blue.dropdown-menu.top-header-mega-menu.mega-menu:after {
  content: "";
  background: #1a1e5de0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.drop-mega-menu.bg-blue.dropdown-menu.top-header-mega-menu.mega-menu.p-0.m-0, ul.dropdown-menu.megamenu {
  background-image: url(../images/All-Product-Mockup-cut.png);
  background-color: #1a1e5d !important;
  -webkit-animation: slide 20s linear infinite;
background-size:cover;
}
